.check{
    width: 20px;
    height: 20px;
}
.App{
    width: 100vw;
    height: 100vdh;
    background: linear-gradient(to right,orange,black);
    color:white;
}
.heading{
    text-shadow:2px 2px;
}